.add-certificate {
    display: flex;
    justify-content: flex-end;
}

.add-client {
    display: flex;
    justify-content: space-between;
}

.actBtn {
    margin: 2px;
}

.status {
    width: max-content;
}

.table-responsive {
    display: block;
    width: -webkit-fill-available;
    overflow-x: auto;
    color: wheat;
}

.page-link {
    color: white;
    border: none;
    margin: 1px;
    border-radius: 3px;
}

.pagination {
    padding-top: 20px;
    justify-content: flex-end;
}

.input-split {
    display: flex;
}

.form-control {
    color: wheat;
}

.colorWheat {
    color: white;
}

.custom-select {
    color: wheat !important;
}

.user-logo {
    position: absolute;
    left: 30px;
    top: 15px;
}

.logo {
    height: 50px;
    width: auto;
}

.verif-container {
    display: flex;
}

.card-verif {
    width: 100%;
    min-width: 300px;
}

.table-detail {
    width: 100%;
}

.create-new-button {
    background-color: #dbaf66;
    border: #dbaf66;
}

.create-new-button:hover {
    background-color: #95743e;
    border: #95743e;
}

.btn-client{
    cursor: pointer;
    background-color: #343b4b;
    color: white;
}

.btn-client:hover{
    background-color: #2b2f3c;
    color: wheat;
}

.dropdown-item:hover{
    color: wheat;
}

.card-dashboard{
    display: flex;
    justify-content: space-between;
}

.split-column{
    display: flex;
}

.add-btn{
    display: flex;
    padding-left: 0;
}

.disabled{
    opacity: 0.5;
    pointer-events: none;
}

.act-right{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1024px) {
    .verif-container {
        display: block;
    }

    .table-responsive{
        overflow-x: auto;
    }
}